<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        default-lazy-init="true">

    <bean id="helloBeanXML" class="com.expertzlab.spring.core.HelloBean"
          init-method="init" destroy-method="destroy">
        <property name="neighbourName" value="Define" />
        <constructor-arg value="expertzLab"></constructor-arg>
        <property name="connectedBean" ref="co" />
        <property name="connectedBean" ref="co" />
    </bean>

    <bean id="connectedBeanID" class="com.expertzlab.spring.core.ConnectedBean" lazy-init="false">
        <property name="myName" value="Gireesh" />
    </bean>
</beans>